* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

body {
    font-family: helvetica, serif;
}

* {
    font-size: 12px;
}

h3 {
    font-weight: bold;
}

#wrapper {
    width: 960px;
    height: auto;
    overflow: hidden;
    background-color: gray;
    margin: 0 auto;
}

#header {
    background-color: #FDFDFD;
    height: 130px;
    width: 960px;
}

#header_content {
    background: linear-gradient(#dedede, white 50%)
}

#logo {
    display: inline-block;
}

#contact {
    display: inline-block;
    vertical-align: top;
    margin: 30px 0px 0px 295px;
    font-weight: bold;
}

.contact {
    font-size: 15px;
}

#nav {
    background-color: #DBE1E6;
}

#nav li {
    display: inline-block;
    padding: 10px 5px 10px 20px;
    font-size: 11px;
    font-weight: bold;
    border-left: 1px solid #B4B4B4;
}

#nav a {
    text-decoration: none;
    color: #555555;
}

#content {
    padding: 15px 20px 15px 30px;
    background: linear-gradient(to top right, black, #717070);
}

#mainimage {
    display: inline-block;
    height: 240px;
    width: 350px;
    border: 5px solid;
    border-color: white;
    margin-left: 5px;
}

#article1 {
    display: inline-block;
    width: 500px;
    vertical-align: top;
    height: 250px;
    margin: 0 0 0 25px;
    background-color: gray;
}

#square_title1 {
    background-color: #FCC504;
    color: black;
    font-size: 13px;
    height: 20px;
    vertical-align: center;
    padding: 10px 0 0 10px;
}

.article1 {
    color: white;
    padding: 15px;
}

p {
    padding-top: 15px;
}

#misc {
    margin: 0 0 20px 10px;
    color: #8B9352;
}

.square {
    width: 200px;
    height: 230px;
    margin: 0 20px 0 5px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
}

.square_title {
    background-color: #FCC504;
    padding: 10px 0 0 10px;
    height: 18px;
}

.square img {
    width: 200px;
    height: 100px;
}

.square p {
    font-size: 9px;
}

.preview {
    height: 60px;
    background-color: white;
    padding: 0 15px 0 15px;
}

.point-btn {
    background: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 10px;
}

.point-btn a {
    background: #FCC504;
    border: 2px solid black;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    position: relative;
    text-decoration: none;
    width: 100px;
    margin-left: 74px;
}

.point-btn a:before {
    background: #FCC504;
    border:  none;
    content: '';
    display: block;
    height: 20px;
    left: 90px;
    position: absolute;
    top: 4px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 21px;
}